<section style="border: chocolate dotted 10px;padding: 30px;margin: 30px;">
    <h1>{{ ArticleContent.title }}</h1>

    <small>Publié le {{ ArticleContent.publishedAt|date('d/m/Y à H:i') }}</small>

    <div>
        {{ ArticleContent.body|raw }}
    </div>
</section>
